  <!--practice-areas-->
  <section id="practice-areas" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>AREAS ESPECIALIZADAS</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
          <hr class="bottom-line">
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-home"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Derecho inmobiliario</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quisquam quas labore quibusdam, sit provident amet debitis voluptate deleniti accusantium, id laudantium non facilis tempora illum quod rerum ducimus sapiente?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-briefcase"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Gestión de cartera</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, blanditiis. Nesciunt laudantium aspernatur deserunt saepe dolorum nemo laboriosam cum, neque quam esse ullam labore illum expedita. Dicta qui quas quod.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-users"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Derecho laboral</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi expedita obcaecati minima temporibus sapiente rerum facilis deserunt fuga quod ipsam sequi nisi quasi aspernatur, veritatis officia voluptate corporis explicabo voluptatem!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ practice-areas-->
