<!--Organisations-->
<section id="choose" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="orga-stru">
              <h3>85%</h3>
              <p>Casos Ganados</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="orga-stru">
              <h3>93%</h3>
              <p>Cargos Retirados</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="orga-stru">
              <h3>80%</h3>
              <p>Clientes Felices</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-info">
            <!-- <hgroup></hgroup> -->
            <h3 class="det-txt"> ¿Por qué elegirnos?</h3>
            <h4 class="sm-txt">(Confiabilidad, innovación y experiencia legal)</h4>            
            <p class="det-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse excepturi alias sequi molestias aspernatur unde voluptatum, repellendus odio dolorum reprehenderit corrupti delectus eos perspiciatis similique molestiae aliquid est dolores ad!</p>
          </div>
        </div>
      </div>
    </div>
</section>
  <!--/ Organisations-->
